@media (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
}


@media (min-width: 601px) {
  
.header {

  color: purple;

}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  min-height: 100vh;
  margin-right: 72px;
}

.mo {
  width: 120px;
  height: 120px;
  margin-bottom: 24px;
}

.profile {
  width: 280.91px;
  height: 360.52px;
  border: 1.97px;
  border-color: #455764;
  margin-right: 41px;
  margin-left: 10px;
}

.skills {
width: 570px;
}

.skills h1{
  color: #455764;
  font-size: 40px;
}
.skills h2{
  color: #E19E01;
  font-size: 30px;
}
.skills p{
  color: #3C6447;
  font-size: 25px;
}


.content {
  display: flex;
  flex-direction: row;
}

.shelf {
  width: 709px;
  height: 307px;
}

.about {
  color:#E19E01;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 584px;
  height: 33px;
  margin-left: 70px;
  color: #455764;
  text-decoration: none;
  margin-top: -20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: -150px;
}

.about {
  color: #E19E01;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: 72px;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-right: 72px;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 78px;
}

.icons img{
  width: 53px;
  height: 54px;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 25px;
  color: #455764;
}

.icon {
  width: 16px;
  height: 30px;
  margin-top: 19px;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 57px;
  margin-left: 500px;
  margin-top: 100px;
  font-size: 24px;
  margin-bottom: 120px;
}

.aboutme {
  width: 1464px;
  height: 71px;
  font-size: 23px;
  color: #455764;
  line-height: 50px;
  margin-top: 100px;
}

.websites {
  display: flex;
  flex-direction: column;
  color: #8E4F2F;
}

.links {
  display: flex;
  flex-direction: column;
  color: #455764;
}

.madsresume {
  display: flex;
  justify-content: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
}

.logos p{
  width: 400px;
  margin-bottom: 240px;
  font-size: 23px;
  color: #455764;
}

.logos img{
  width: 249px;
  height: 249px;
  border: 2.25px solid #455764;
  border-radius: 11.25px;
  padding: 70px;
  margin-top: 150px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}


.selected {
  color: #E19E01;
  text-decoration: none;
  font-size: 25px;
}

.default {
  color: #455764;
  text-decoration: none;
  font-size: 25px;
}
}
